@import './style/main-page.pcss';
@font-face {
    font-family: 'PT font';
    src: url("./style/RobotoMono-Regular.ttf") format("truetype");
}

html, body {
    margin: 0;
    padding: 0;
    background: #DADFE1;
}

.content {
    width: 1280px;
    height: 100%;
    margin: 0 auto;
    &--header {
        display: flex;
        align-items: center;
    }
}